p{
    font-family: Times, serif;

}
body{
background-color: lightgrey;
}
div.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
    border: 5px solid blue;
    background-color: darkgrey;
}
span.header{
  font-size: 35px;
}
h1.hidden{
  visibility: hidden;
}
a.homeButton:hover, a.homeButton:active{
  background-color: red;

}
a.playHere:hover, a.playHere:active{
  background-color: red;
}
a.playHere{
  margin-left: 20px;
}
div.container {
    width: 100%;

}

.center {
  text-align: center;
}


div.left {
  width: 40%;
  box-sizing: border-box;
  display: inline-block;
  border: 5px solid blue;
  margin: auto;
  margin-left: 1em;
  margin-top: 50px;
  text-align: left;
  justify-content: space-between;
}

div.right {
  width: 40%;
  box-sizing: border-box;
  display: inline-block;
  border: 5px solid blue;
  margin-left: 5em;
  margin-top: 50px;
  text-align: left;
  justify-content: space-between;
}

div.tactics {
  width: 70%;
  box-sizing: border-box;
  display: inline-block;
  border: 5px solid blue;
  margin-top: 95px;
  padding: 10px;
}

header{
    padding: 0.15em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

table.infoBox{
  width: 25%;
  height: 55%;
  position: fixed;
  top: 175px;
  right: 0;
  border: 3px solid black;

}


article {
    padding: 1em;
    overflow: hidden;
    margin-right: 35%;
}
