body{
  background-color: lightgrey;
  font-family: Georgia, serif;
}
div.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
    border: 5px solid blue;
    background-color: darkgrey;
}
span.header{
  font-size: 35px;
}
div.details{
  width: 80%;
  box-sizing: border-box;
  border: 5px solid blue;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

}
.hidden{
  visibility: hidden;
}
a.homeButton:hover, a.homeButton:active{
  background-color: red;
  text-decoration: none;

}
a.playHere:hover, a.playHere:active{
  background-color: red;
  text-decoration: none;

}
a.playHere{
  margin-left: 20px;
  text-decoration: none;


}
div.container {
    width: 100%;

}

.center {
  text-align: center;
}


div.left {
  width: 40%;
  box-sizing: border-box;
  display: inline-block;
  border: 5px solid blue;
  margin-left: 1em;
  margin-top: 50px;
  text-align: left;
  justify-content: space-between;
}

div.right {
  width: 40%;
  box-sizing: border-box;
  display: inline-block;
  border: 5px solid blue;
  margin-left: 5em;
  margin-top: 50px;
  text-align: left;
}

div.tactics {
  width: 70%;
  box-sizing: border-box;
  display: inline-block;
  border: 5px solid blue;
  margin-top: 95px;
  padding: 10px;
  margin-bottom: 50px;
}

header{
    padding: 0.15em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

table.infoBox{
  width: 25%;
  height: 55%;
  position: fixed;
  top: 175px;
  right: 0;
  border: 3px solid black;

}


article {
    padding: 1em;
    overflow: hidden;
    margin-right: 35%;
}


div.control{
  width: 30%;
  box-sizing: border-box;
  border: 5px solid blue;
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
  top: 0;
  margin-left: 20px;
  display: inline-block;;
  height: 500px;
  margin-top: 20px;
}
div.gameMode{
  width: 30%;
  box-sizing: border-box;
  border: 5px solid blue;
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 20px;
  top: 0;
  display: inline-block;;
  height: 400px;
}
div.belowAudioVideo{
  width: 99%;
  text-align: left;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 20px;
  display: block;
  top: 0;
}

div.gameAllAbout{
  width:30%;
  box-sizing: border-box;
  border: 5px solid blue;
  padding-left: 25px;
  padding-right: 25px;
  display: inline-block;
  height: 500px;
  top:0;
}

div.basicRight{
  width: 30%;
  box-sizing: border-box;
  display: inline-block;
  border: 5px solid blue;
  margin-left: 5em;
  text-align: left;
  height: 300px;
}
div.basicLeft{
  width: 40%;
  box-sizing: border-box;
  display: inline-block;
  border: 5px solid blue;
  margin-left: 2em;
  text-align: left;
  height: 400px;
}
a.nextPrev:link, a.nextPrev:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a.nextPrev:hover, a.nextPrev:active {
    background-color: red;
}

div.belowDetails{
  display: block;
  margin-top: 50px;
}
