p{
    font-family: Times, serif;

}
body{
background-color: lightgrey;
}
div.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
    border: 5px solid blue;
    background-color: darkgrey;
}
div.static{
  position: static;
}
span.header{
  font-size: 35px;
}
h1.hidden{
  visibility: hidden;
}
div.classTree{

}
a.hiddenClassButton{
    display:inline-block;
    width:30px;
    height:30px;
    background-color:#ccc;
    border:1px solid #ff0000;
}

div.tank
{
    position:static;

}

span.playHere{
  font-size: 75px;
}
